@import "tailwindcss";

@theme {
  --font-font1: "font1", sans-serif;
  --font-font2: "font2", sans-serif;
}

@font-face {
  font-family: 'font1';
  src: url('/fonts/Lausanne-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'font2';
  src: url('/fonts/Lausanne-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

html, body, #root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section1 {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
body{
  overflow-x: hidden;
}

.moveX{
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes moveAnimation{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.movelink{
  opacity: 0;
}

.link:hover .movelink{
  opacity: 1;
}